/**/

@media screen and (max-width: 600px) {
    body {
        --nav-height: 10px;
    }
    .main {
        min-height: calc(100vh - (var(--nav-height)));
    }
    .navbar a {
        font-size: 17px;
    }
    .navbar {
        margin: 0px 0px;
    }
    .title .titletext {
        font-size: 25px;
    }
    .title img {
        margin: 0px 0px 0px 20px;
    }
    .right-nav * {
        margin: 0px 3px;
        font-size: 12px;
    }
    .signup {
        padding: 7px;
    }
}


/*mobile 500px and below*/

@media screen and (max-width: 500px) {
    .navbar {
        position: absolute;
        top: 90px;
        right: 0%;
        background-color: #67d67a;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 400px;
        width: 50%;
        margin: 0px;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }
    .navbar li {
        opacity: 0%;
    }
    .navbar a {
        color: #2e2e2e;
        font-weight: 200;
        font-size: 20px;
    }
    .burger {
        display: block;
        cursor: pointer;
        pointer-events: all;
    }
    .big {
        font-size: 50px;
    }
    .signup {
        padding: 5px;
        margin-left: 0;
        font-size: 10px;
    }
    .right-nav {
        width: 40%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 300px) {
    body {
        --nav-height: 10px;
    }
    .main {
        min-height: calc(100vh - (var(--nav-height)));
    }
    .title img {
        margin: 0px 0px;
    }
    .signup {
        padding: 2px;
        margin: 0px;
    }
    .title .titletext {
        font-size: 10px;
    }
    .right-nav {
        width: 50%;
    }
}