* {
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}


/*style all "a" links*/

body {
    overflow-x: hidden;
    --nav-height: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
}

header {
    background-color: transparent;
    display: flex;
    height: 90px;
    padding: 0px;
    width: 100%;
    justify-content: space-around;
    background-color: #f2f2f2;
}

.title {
    display: flex;
}

.title img {
    border-radius: 20px;
    margin: 0px 20px 0px 0px;
    background-color: #f2f2f2;
}

.title .titletext {
    display: flex;
    width: fit-content;
    height: 40px;
    padding: 5px;
    color: #202020;
    /*font of title*/
    font-size: 35px;
    font-family: serif;
}

.small {
    font-size: 20px;
    font-family: sans-serif;
}

.big {
    font-size: 90px;
}

.navbar {
    display: flex;
    background-color: transparent;
    display: flex;
    background-color: transparent;
    width: 40%;
    margin: 0px 30px;
    justify-content: space-around;
    list-style: none;
}

.navbar a {
    color: #2e2e2e;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.right-nav {
    display: flex;
}

.right-nav * {
    margin: 0px 6px;
}

.burger {
    display: none;
}

.burger div {
    width: 17px;
    height: 2px;
    background-color: #2e2e2e;
    margin: 4px;
    border-radius: 5px;
    transition: all 0.2s ease;
}


/*Searchbox element style*/

.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    padding: 2px;
    border-radius: 5px;
}

.searchbar #searchinput {
    height: 20px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #5f5f5f;
    margin-left: 5px;
}

#searchinput:focus {
    outline: none;
}

.signup {
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    color: #f2f2f2;
    background-color: #7cdf5e;
    cursor: pointer;
}

.login {
    font-size: 12px;
    color: #2e2e2e;
    cursor: pointer;
}

.main {
    min-height: calc(100vh - (var(--nav-height)));
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f2f2f2;
    background-clip: border-box;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    font-family: serif;
    text-align: center;
}

@media screen and (max-width: 600px) {
    body {
        --nav-height: 10px;
        overflow-x: hidden clip;
    }
    .main {
        min-height: calc(100vh - (var(--nav-height)));
    }
    .navbar a {
        font-size: 17px;
    }
    .navbar {
        margin: 0px 0px;
    }
    .title .titletext {
        font-size: 25px;
    }
    .title img {
        margin: 0px 0px 0px 20px;
    }
    .right-nav * {
        margin: 0px 3px;
        font-size: 12px;
    }
    .signup {
        padding: 7px;
    }
}


/*mobile 500px and below*/

@media screen and (max-width: 500px) {
    body {
        --nav-height: 10px;
        overflow-x: hidden clip;
    }
    .main {
        min-height: calc(100vh - (var(--nav-height)));
    }
    .navbar {
        position: absolute;
        top: 90px;
        right: 0%;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 400px;
        width: 50%;
        margin: 0px;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }
    .navbar li {
        opacity: 0%;
    }
    .navbar a {
        color: #2e2e2e;
        font-weight: 200;
        font-size: 20px;
    }
    .burger {
        display: block;
        cursor: pointer;
        pointer-events: all;
    }
    .big {
        font-size: 50px;
    }
    .signup {
        padding: 5px;
        margin-left: 0;
        font-size: 10px;
    }
    .right-nav {
        width: 40%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 300px) {
    body {
        --nav-height: 10px;
        overflow-x: hidden clip;
    }
    .main {
        min-height: calc(100vh - (var(--nav-height)));
    }
    .title img {
        margin: 0px 0px;
    }
    .signup {
        padding: 2px;
        margin: 0px;
    }
    .title .titletext {
        font-size: 10px;
    }
    .right-nav {
        width: 50%;
    }
}


/*for toggling nav bar visibilty*/

.nav-active {
    transform: translateX(0%);
}


/*for burger menu folding*/

.toggle .line1 {
    transform: rotate(-45deg) translate(-6px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-3px, -2.5px);
}


/*animations*/

@keyframes navlisfadein {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}