/*products*/

.prodtitle {
    text-align: center;
    color: #f2f2f2;
}


/*each product card*/

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    min-height: fit-content;
    height: min-content;
    height: 420px;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}


/* all product img*/

.product img {
    margin: 10px;
    height: var(--product-img-height);
    width: var(--product-img-width);
    border-radius: 20px;
}


/*all product details*/

#proddetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f2f2f2;
    width: var(--product-img-width);
    border-radius: 20px;
    padding: 10px;
    max-height: 80px;
    overflow-y: auto;
}

#proddetails span {
    margin: 5px 0px;
}

#proddetails .prodname {
    font-family: sans-serif;
    font-weight: 700;
    overflow-y: auto;
}

#proddetails .prodprice {
    color: #ff7300;
    font-weight: 700;
    font-size: 100%;
}

#proddetails .proddescrip {
    max-height: 60px;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}