.products .shop {
    /*don't add display:flex here cos it proves to be problematic*/
    max-width: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 100vh;
    --product-img-height: 230px;
    /*product image width is half of image height */
    --product-img-width: calc(var(--product-img-height) / 2);
}

.shop .innerdiv {
    display: flex;
    height: fit-content;
    width: max-content;
}

.shop .innerdiv .product {
    width: fit-content;
    margin: 10px;
    float: left;
    display: flex;
}